/* #structure
--------------------------------------------------*/

*:focus {
    outline: 0;
}

body, h1, h2, h3, h4, h5, h6, p, button, input {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

ul,li
{
	list-style:none;
}

body {
	background-color:$background-dark;
}

.clear-float
{
	clear:both;
}

a {
	@include transition-fade(0.2s);
}

a:hover {
	text-decoration:none;
}

@media(max-width:767px){
	.logo{
		max-height:80px;
	}
}
@media(min-width:768px){
	.logo{
		margin-top:30px;
	}
}
@media(min-width:768px) and (max-width: 991px){
	.logo{
		max-height:110px;
	}
}
@media(min-width:992px){
	.logo{
		margin-top:40px;
	}
}

@media(max-width:767px){
	.logo-blog{
		max-height:70px;
	}
}
@media(min-width:768px) and (max-width: 991px){
	.logo-blog{
		max-height:110px;
	}
}

@media(max-width:767px){
	.logo-blog-container{
		margin-top:30px;
		max-height:70px;
	}
}
@media(min-width:768px){
	.logo-blog-container{
		margin-top:90px;
		max-height:110px;
	}
}
@media(min-width:992px){
	.logo-blog-container{
		margin-top:70px;
	}
}

@media(min-width:992px){
	p{
		line-height:1.7;
	}
}

@media(min-width:992px){
	h4{
		line-height:1.4;
	}
}


.container, .row, .po-column{
	line-height:1.8;
}

.po-page-header
{

	padding:8px 0 24px;
	background-color:#eee;
	border-bottom:1px solid #ddd;

}

input[type="text"],
input[type="email"],
input[type="search"],
textarea
{
-webkit-appearance: none;
}

#crumbs 
{
	font-size:12px;
	margin-top:14px;
}

#crumbs a
{
	color:#333;
	@include transition-fade(0.2s);
}

#crumbs a:hover
{
	text-decoration:none;
}

#crumbs .delim
{
	padding:0 5px;
	color:#999;
}

.po-container-section
{
	margin-top:-1px;
}

.po-page
{
	width:100%;
	min-height:352px;
	background-color:#fff;
}

.page-padding
{
	padding-top:50px;
}
.page-comments .comments-area
{
	padding-bottom:50px;
}


.column-content
{
	padding:0 10px;
}

.column-content-left
{
	padding:0 10px 0 0;
}

.column-content img
{
	max-width:100%;
	height:auto;
}

@media(max-width:991px){
	.po-column-mobile {
		opacity: 1;
	}
}

@media(max-width:767px){
	.po-column-line {
		padding:5px 0px;
		opacity: 1;
	}
}

@media(max-width:767px){
	.po-column {
		padding:20px 15px;
		opacity: 1;
	}
}

@media(min-width:768px){
	.po-column {
		padding:25px 15px;
		opacity: 1;
	}
}

@media(min-width:992px){
	.po-column {
		opacity: 0;
	}
}

@media(max-width:767px){
	.po-column-mobile-ani {
		opacity: 0;
	}
}

.po-column.shown,
.no-js .po-column,
.no-cssanimations .po-column {
	opacity: 1;
}

@media(max-width:991px){
	.po-column-mobile.shown,
	.no-js .po-column-mobile,
	.no-cssanimations .po-column-mobile {
		opacity: 1;
	}
}

@media(max-width:767px){
	.po-column-mobile-ani.shown,
	.no-js .po-column-mobile-ani,
	.no-cssanimations .po-column-mobile-ani {
		opacity: 1;
	}
}

.po-column p
{
	color:#444;
}



.po-column img
{
	max-width:100%;
	height:auto;
}

.po-full-width {
	padding: 0;
	margin:0;
	width:100%;
}

.po-section-fixed
{
	background-attachment:fixed;
}

.section-background-white
{
	background-color:#fff;

}

.section-background-dark
{
	background-color:#1B2124;

}

.section-background-light
{
	background-color:#f5f5f5;

}

.section-background-dark,
.section-background-image,
.section-background-image-fixed,
.section-background-image-parallax,
.section-background-image-video,
.section-background-dark po-header,
.section-background-custom-white


{
	h1,h2,h3,h4,h5,h6{
		color:#fff;
	}
	
	p{
		color:#f9f9f9;
	}

}

.section-background-dark .po-icon-float
{
	h1,h2,h3,h4,h5,h6{
		color:#333;
	}
	
	p{
		color:#444;
	}

}


.section-video
{
	overflow: hidden;
	position: relative;
	width: 100%;
	background-color:#000;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.3);
	
}

.section-video video
{
    position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;

}


.section-video-content{
	position:relative; 
	top: 50%; 
	z-index:999; 
	width:100%;
}

.po-background-video
{
	opacity:0;
}


.section-background-white.section-shadow-top,
.section-background-light.section-shadow-top
{
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.07);

}

.section-background-dark.section-shadow-top
{
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);

}

.section-background-white.section-shadow-bottom,
.section-background-light.section-shadow-bottom
{
	-webkit-box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:    inset 0px -2px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow:         inset 0px -2px 4px 0px rgba(0, 0, 0, 0.07);

}

.section-background-dark.section-shadow-bottom
{
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);

}

.section-background-white.section-shadow,
.section-background-light.section-shadow
{
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);

}

.section-background-dark.section-shadow
{
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.9);
	box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.9);
}





.section-image.section-shadow-yes
{
	-webkit-box-shadow: inset 0px -1px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px -1px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px -1px 4px 0px rgba(0, 0, 0, 0.8);

}

.section-image.section-overlay-black
{
	-webkit-box-shadow: inset 0px 0px 1000px 500px rgba(6, 7, 8, 0.8);
	-moz-box-shadow:    inset 0px 0px 1000px 500px rgba(6, 7, 8, 0.8);
	box-shadow:         inset 0px 0px 1000px 500px rgba(6, 7, 8, 0.8);

}

.section-image.section-overlay-green
{
	-webkit-box-shadow: inset 0px 0px 1000px 0px rgba(32, 197, 150, 0.3);
	-moz-box-shadow:    inset 0px 0px 1000px 0px rgba(32, 197, 150, 0.3);
	box-shadow:         inset 0px 0px 1000px 0px rgba(32, 197, 150, 0.3);

}

.section-image.section-overlay-darkgreen
{
	-webkit-box-shadow: inset 0px 0px 1000px 200px rgba(32, 197, 150, 0.5);
	-moz-box-shadow:    inset 0px 0px 1000px 200px rgba(32, 197, 150, 0.5);
	box-shadow:         inset 0px 0px 1000px 200px rgba(32, 197, 150, 0.5);

}

.section-background-white.section-line-top
{
	border-top:1px solid #e9e9e9;
}

.section-background-light.section-line-top
{
	border-top:1px solid #e1e1e1;
}

.section-background-dark.section-line-top
{
	border-top:1px solid #000;
}

.section-background-white.section-line-bottom
{
	border-bottom:1px solid #e9e9e9;
}

.section-background-light.section-line-bottom
{
	border-bottom:1px solid #e1e1e1;
}

.section-background-dark.section-line-bottom
{
	border-bottom:1px solid #000;
}

.section-background-white.section-line
{
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
}

.section-background-light.section-line
{
	border-top:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
}

.section-background-dark.section-line
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}




.section-background-white.section-lineshadow-top,
.section-background-light.section-lineshadow-top
{
	border-top:1px solid #e1e1e1;
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
	box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.05);

}

.section-background-dark.section-lineshadow-top
{
	border-top:1px solid #000;
	-webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px 2px 4px 0px rgba(0, 0, 0, 0.8);

}

.section-background-white.section-lineshadow-bottom,
.section-background-light.section-lineshadow-bottom
{
	border-bottom:1px solid #e9e9e9;
	-webkit-box-shadow: inset 0px -2px 3px 0px rgba(0, 0, 0, 0.03);
	-moz-box-shadow:    inset 0px -2px 3px 0px rgba(0, 0, 0, 0.03);
	box-shadow:         inset 0px -2px 3px 0px rgba(0, 0, 0, 0.03);

}

.section-background-dark.section-lineshadow-bottom
{
	border-bottom:1px solid #000;
	-webkit-box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px -2px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px -2px 4px 0px rgba(0, 0, 0, 0.8);

}

.section-background-white.section-lineshadow,
.section-background-light.section-lineshadow
{
	border-top:1px solid #e9e9e9;
	border-bottom:1px solid #e9e9e9;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);
	box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.07);

}

.section-background-dark.section-lineshadow
{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);
	box-shadow:         inset 0px 0px 4px 0px rgba(0, 0, 0, 0.8);

}


.logged-in.admin-bar{ 
	.to-top
	{
		top: 45px !important;
	}
	
	.navbar-fixed-top
	{
		top:32px !important;
	}
}

.to-top {
	border:1px solid #fff; 
	width:23px; 
	height:23px; 
	position:fixed; 
	right:20px; 
	top:14px; 
	z-index:9999; 
	border-radius:100px; 
	display:none; 
	opacity:1; 
	background: url(images/to-top.png) no-repeat center 7px;
	background-size:11px 6px;
	cursor:pointer;
}

.light-page
{
	background-color:#f1f1f1; 
	width:100%; 
	padding-top:1px; 
	padding-bottom:1px;
}

.light-page-image
{
	background-color:#f1f1f1; 
	width:100%;
	padding-bottom:10px;
}

.po-page p
{
	font-size:15px;

}

@media(max-width:767px){
	.section-background-image-fixed,
	.section-background-image-parallax
	{
		background-attachment: relative !important;
		background-size: cover !important;
	}
}


@media(min-width:768px){
	.section-background-image-fixed,
	.section-background-image-parallax
	{
		background-attachment: relative !important;
		background-size: cover !important;
	}
}


@media(min-width:992px){
	.section-background-image-fixed,
	.section-background-image-parallax
	{
		background-attachment: fixed !important;
		background-size: cover !important;
	}
}

.holding-text
{	
	position:absolute; 
	bottom:0px; 
	text-align:center; 
	color:#FFF;
	width:100%;
	z-index:9999999999;
}

.holding-text p
{
	text-align:center; 
	color:#FFF;
}

.holding-text a
{
	text-align:center; 
	color:rgba(255,255,255,0.6);
}

.holding-text a:hover
{
	text-align:center; 
	color:rgba(255,255,255,1);
}